<div class="container">
<form class="row g-3">
    <div class="col-12">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name">
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email">
    </div>
    <div class="col-md-6">
      <label for="phonenumber" class="form-label">Phone number</label>
      <input type="text" class="form-control" id="phonenumber" placeholder="Enter phone number">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Enter address">
    </div>
    <div class="col-md-6">
      <label for="inputnameWeb" class="form-label">Website</label>
      <input type="text" class="form-control" id="inputnameWeb" placeholder="Enter name of website">
    </div>
    <div class="col-md-3">
        <label class="form-label" for="logo">Logo</label>
        <input type="file" class="form-control" id="logo">
    </div>
    <div class="col-md-3">
        <label class="form-label" for="banner">Banner</label>
        <input type="file" class="form-control" id="banner">
    </div>
    <div class="input-group col-md-6">
        <label class="input-group-text" for="license">Business license</label>
        <input type="file" class="form-control" id="license">
    </div>
    <div class="col-12">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" placeholder="Describe website here" id="description"></textarea>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>

