<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="./assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Sign Up</h3>
                            <p class="mb-4">The best website for recruiting personnel for companies is WorldWork.</p>
                        </div>
                        <form action="#" method="post">
                            <div class="form-group d-flex first">
                                <div>
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control" id="firstName">
                                </div>
                                <div>
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control" id="lastName">
                                </div>
                            </div>
                            <div class="form-group mid">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username">

                            </div>
                            <div class="form-group last mb-4">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password">

                            </div>

                            <a href="" class="btn btn-primary">Next</a>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>